
:root {
    --dark-jw-color: #24fa04;
}


.mainHeight {
    min-height: 90vh;
    margin-bottom: 6rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position:sticky;
  min-height: 100%;
}

body {
  margin-bottom: 10px;
}

.pageBG {
    position:  center;
    width: 100%;
    /*background: url(/img/windowsRedHero.png);*/
    background-size: cover;
    color: var(--dark-jw-color);
    padding-bottom: 10rem;                       /*calc(3em + 74px);*/
}

.redText{
    color:#ff0000;
}

.greenText {
    color: var(--dark-jw-color);
}

.bigBackground {
    background: url(/img/honeycombPurplejpg.jpg);
    background-size: cover;
    height:;
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/    
}


/* word-break; break all */