
:root {
    --dark-jw-color: #24fa04;
}


.mainHeight {
    min-height: 90vh;
    margin-bottom: 5rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position:sticky;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

.pageBG {
    position: static;
    width: 100%;
    background: url(/img/windowsRedHero.png);
    background-size:  cover;
    color: var(--dark-jw-color);
    padding-bottom: calc(5em + 74px);
}

header {
     background: url(~/img/blueRoom.jpg)
 }

.redText{
    color:#ff0000;
}

.purpleText {
    color: purple;
}


.bigBackground {
    /*position: center;*/
    background: none;
    /*background-size: ;*/
    /*height:;
    background-repeat: no-repeat;*/
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
}


/* word-break; break all */