
:root {
    --dark-jw-color: #24fa04;
}


.mainHeight {
    min-height: 90vh;
    margin-bottom: 6rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position:sticky;
  min-height: 100%;
}

body {
  margin-bottom: 10px;
}

.pageBG {
    /*position: absolute ;*/
    /*width: 100%;*/
    background: url(/img/whiteGrid.png);
    background-size:  inherit;
    color: var(--dark-jw-color);
    padding-bottom: calc(13em + 74px);
}

header {
     background: url(~/img/blueRoom.jpg)
 }

.redText{
    color:#ff0000;
}

.purpleText {
    color: purple;
}

.yellowText {
    color: #0094ff;
}

.bigBackground {
    /*position: center;*/
    background: none;
    background-size: cover;
    /*height:;
    background-repeat: no-repeat;*/
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
}


/* word-break; break all */