@using AtlasBlog.Enums
@model AtlasBlog.Models.BlogPost

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blog Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form id="quillCreate" asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Blog.BlogName" class="control-label"></label>
                <select asp-for="BlogId" class="form-control" asp-items="@ViewBag.BlogId"></select>
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <input asp-for="Abstract" class="form-control" />
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <div id="editor" class="bg-dark"></div>
                <input asp-for="Body" type="hidden" />
            </div>

            @if (User.IsInRole("Administrator") || (User.IsInRole("Moderator")))
            {
                <div class="form-group">
                    <label asp-for="BlogPostState" class="control-label"></label>
                    <select asp-for="BlogPostState" class="form-control" asp-items="@Html.GetEnumSelectList<BlogPostState>()"></select>
                    <span asp-validation-for="BlogPostState" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="TagIds">Tag(s)</label>
                    <select class="form-select" id="TagIds" name="TagIds" asp-items="@ViewBag.TagIds" multiple></select>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* --------  THE MODAL SECTION ----------- *@



<!-- Modal -->
<div class="modal fade" id="addNewTag" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding A New Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @* ------ ADD IN A FORM FOR CREATING A NEW TAG ------------*@
                <form asp-action="Create" asp-controller="Tags">
                    <div class="form-group">
                        <label class="form-label" for="text">Text</label>
                        <input name="Text" id="text" class="form-control w-100" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="text">Text</label>
                        <textarea class="form-label w-100" name="Description" id="Description" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="text">Text</label>
                        <button class="btn btn-sm btn-dark mt-2 fw-bold w-100"></button>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script>

    document.getElementById('quillCreate').addEventListener("submit", function() {
        document.getElementById('Body').value = quill.container.firstChild.innerHTML;
    });

</script>


    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
