@model AtlasBlog.Models.Blog

@{
    ViewData["Title"] = "Create";
}

<h1 class="greenText">Create</h1>

<h4 class="greenText">Blog</h4>
<hr class="row greenText"/>
<div class="row greenText">
    <div class="col-12 col-md-6">
                                        @*--------------- this is for images files ---------------------*@
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BlogName" class="control-label"></label>
                <input asp-for="BlogName" class="form-control" />
                <span asp-validation-for="BlogName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResearchTopic" class="control-label"></label>
                <input type="text" class="bg-dark"/>
                @*<input type="file" name="ImageFile" class="form-control" />*@
                <span asp-validation-for="ResearchTopic" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
